extends ../partials/header
block main
  input.display-none#venues-json(value=JSON.stringify(venues))
  .all-content
    .venue-accom-top-section
      p Istanbul
      p Venue &amp; Accommodation List
    .venue-accom-bottom-content
      .sidebar
        form.bar#search-bar
          .bar-content
            input(type='text' placeholder = 'Search')
            svg.search-icon(viewbox='0 0 24 25' xmlns='http://www.w3.org/2000/svg')
              path(d='M21.75 21.1895L16.0859 15.5254C17.447 13.8914 18.1257 11.7956 17.9808 9.67399C17.836 7.55236 16.8788 5.56824 15.3083 4.13438C13.7378 2.70053 11.675 1.92733 9.549 1.97565C7.42298 2.02396 5.39742 2.89006 3.89371 4.39377C2.39 5.89748 1.5239 7.92304 1.47558 10.0491C1.42727 12.1751 2.20047 14.2379 3.63432 15.8084C5.06818 17.3788 7.0523 18.336 9.17393 18.4809C11.2956 18.6257 13.3914 17.947 15.0253 16.586L20.6894 22.2501L21.75 21.1895ZM2.99999 10.2501C2.99999 8.91503 3.39588 7.60999 4.13757 6.49996C4.87927 5.38992 5.93348 4.52476 7.16688 4.01387C8.40028 3.50298 9.75748 3.3693 11.0669 3.62975C12.3762 3.8902 13.579 4.53308 14.523 5.47708C15.467 6.42109 16.1098 7.62382 16.3703 8.9332C16.6307 10.2426 16.4971 11.5998 15.9862 12.8332C15.4753 14.0666 14.6101 15.1208 13.5001 15.8625C12.3901 16.6042 11.085 17.0001 9.74999 17.0001C7.96039 16.9981 6.24466 16.2863 4.97922 15.0208C3.71378 13.7554 3.00198 12.0397 2.99999 10.2501Z' fill='#EEF6FC')
        .bar#capacity-bar
          .bar-content-bigger
            p Capacity
            svg.list-tray-icon(viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M8 11.5L3 6.50002L3.7 5.80002L8 10.1L12.3 5.80002L13 6.50002L8 11.5Z' fill='#D9D9D9')
        .bar-extension-capacity-selection#capacity-selection-input-wrapper(style='display: none;')
          mixin checkboxes(title)
            strong #{title}
            each range in ["0-100", "101-200", "201-400", "401-600", "601-1000", "1001-1500", "1501-2000", "2000+"]
              div.each-bar-extension-checkbox#capacity-checkbox(data-checked="false")
                svg.checkbox-icon(viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(x='0.25' y='0.25' width='11.5' height='11.5' rx='1.75' stroke='#EEF6FC' stroke-width='0.5')
                svg.checkbox-icon-active(viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(x='0.25' y='0.25' width='11.5' height='11.5' rx='1.75' stroke='#EEF6FC' stroke-width='0.5')
                  rect(x='2' y='2' width='8' height='8' rx='1' fill='#68F29E')
                span #{range}
          .bar-extension-checkboxes
            +checkboxes('Seated')
            +checkboxes('Standing')
        .bar#location-bar
          .bar-content-bigger
            p Location
            svg.list-tray-icon(viewbox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M8 11.5L3 6.50002L3.7 5.80002L8 10.1L12.3 5.80002L13 6.50002L8 11.5Z' fill='#D9D9D9')
        .bar-extension-location-selection#location-selection-input-wrapper(style='display: none')
          .bar-extension-checkboxes
            strong.unselect-all-locations Unselect All
            each district in DISTRICT_LIST
              div.each-bar-extension-checkbox#location-checkbox(data-checked='false' data-district-index=DISTRICT_LIST.indexOf(district))
                svg.checkbox-icon(viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(x='0.25' y='0.25' width='11.5' height='11.5' rx='1.75' stroke='#EEF6FC' stroke-width='0.5')
                svg.checkbox-icon-active(viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(x='0.25' y='0.25' width='11.5' height='11.5' rx='1.75' stroke='#EEF6FC' stroke-width='0.5')
                  rect(x='2' y='2' width='8' height='8' rx='1' fill='#68F29E')
                span #{district}
        .venue-accom-filters-bottom-info
          .venue-accom-filters-bottom-info-text
            p Do you need help organizing an event? Reach us!
            .outer-links-with-arrow
              a.outer-link-green(href='#') node101 - Events
              svg.link-arrow(viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.18558 11.7303L11.5774 3.76714M1.70387 0.592325L10.0597 1.78652L12.9686 5.58272L12.1172 14.1816' stroke='#68F29E')
        .submit-venue-button
          svg(width='11' height='12' viewbox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.1875 5.3125V0.5H4.8125V5.3125H0V6.6875H4.8125V11.5H6.1875V6.6875H11V5.3125H6.1875Z' fill='#68F29E')
          span Submit Venue
      .main-content
        each venue in venues 
          .venue-bar
            .bar-information 
              .venue-title #{venue.name}
              if venue.seated_capacity
                .venue-seated-capacity
                  span.venue-bar-gray-text Seated
                  span #{venue.seated_capacity}
              if venue.standing_capacity
                .venue-standing-capacity
                  span.venue-bar-gray-text Standing
                  span #{venue.standing_capacity}
            .about-the-venue-mobile-version
              img.about-the-venue-iamge(src= venue.image alt='')
              p #{venue.description}
              a.link-to-venue-button(href= venue.social_media_accounts.web target='_blank')
                span Website
              .venue-contact-info
                span.venue-phone-number #{venue.contact_number}
                span.venue-email-address #{venue.contact_email}
              .venue-location
                svg.location-icon(width='9' height='24' viewbox='0 0 9 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M3.81322 17.6047C0.596992 12.9421 0 12.4636 0 10.75C0 8.40278 1.90278 6.5 4.25 6.5C6.59722 6.5 8.5 8.40278 8.5 10.75C8.5 12.4636 7.90301 12.9421 4.68678 17.6047C4.47571 17.9096 4.02426 17.9095 3.81322 17.6047ZM4.25 12.5208C5.22801 12.5208 6.02083 11.728 6.02083 10.75C6.02083 9.77199 5.22801 8.97917 4.25 8.97917C3.27199 8.97917 2.47917 9.77199 2.47917 10.75C2.47917 11.728 3.27199 12.5208 4.25 12.5208Z' fill='#999999')
                p #{venue.address}
            .about-the-venue 
              .about-the-venue-section-left
                h3 About the Event
                p #{venue.description}
                a.link-to-venue-button(href= venue.social_media_accounts.web target='_blank')
                  span Website
                .venue-contact-info
                  span.venue-phone-number #{venue.contact_number}
                  span.venue-email-address #{venue.contact_email}
              .about-the-venue-section-right
                img.about-the-venue-image(src= venue.image alt='')
                .venue-location 
                  svg.location-icon(width='9' height='24' viewbox='0 0 9 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M3.81322 17.6047C0.596992 12.9421 0 12.4636 0 10.75C0 8.40278 1.90278 6.5 4.25 6.5C6.59722 6.5 8.5 8.40278 8.5 10.75C8.5 12.4636 7.90301 12.9421 4.68678 17.6047C4.47571 17.9096 4.02426 17.9095 3.81322 17.6047ZM4.25 12.5208C5.22801 12.5208 6.02083 11.728 6.02083 10.75C6.02083 9.77199 5.22801 8.97917 4.25 8.97917C3.27199 8.97917 2.47917 9.77199 2.47917 10.75C2.47917 11.728 3.27199 12.5208 4.25 12.5208Z' fill='#999999')
                  p #{venue.address}
    .general-venues-loading-icon-wrapper#venues-loading-icon
      svg.general-venues-loading-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
        path(d='M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z')